nav
    a(href='/' title="Return to Home Page")
        embed#logo(type='image/svg+xml', src='/images/logo.svg')
    #right-nav-container
        a(href='search.html')
            p Search
        a(href='login.html')
            p Login