@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*:focus {
    outline:none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #222847;
    background-color: #B8C1EC;
    margin: 0px;
    font-size: 30px;
    position: relative;
    min-height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #121629;
    padding: 5px 30px;
}

#logo {
    height: 80%;
    width: 200px;
}

embed {
    pointer-events: none; 
}

#right-nav-container {
    display: flex;
}


#right-nav-container p {
    color: #FFFFFE;
    font-size: 75%;
    font-weight: 700;
    margin: 20px;
}

#right-nav-container a img {
    margin: 0px 20px;
    width: 30px;
}

a {
    transition: 0.2s;
    text-decoration: none;
    display:inline-block;
}

a:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    font-size: 60%;
    padding-bottom: 80px;   
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
}

.form .section {
    font-weight: 700;
    margin: 20px 0px 10px 0px;
}

.selected-container {
    display: flex;
    flex-wrap: wrap;
}

.selected {
    display: flex;
    color: #121629;
    border: 3px solid #121629;
    border-radius: 10px;
    background: #FFA630;
    font-size: 70%;
    font-weight: 600;
    padding: 5px;
    align-items: center;
    width: fit-content;
    margin: 3px;
}

.remove-button {
    background: #C33C54;
    border: 2px solid #121629;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    font-weight: 900;
    color: #121629;
    transition: 0.3s;
    margin-top: 10px;
    cursor: pointer;
    padding: 0px;
    margin: 0px 0px 0px 5px;
}

#genre {
    display: flex;
    flex-direction: column;
    background: #FFFFFE;
    font-size: 70%;
    font-weight: 600;
    height: 100px;
    border: 3px solid #121629;
    border-radius: 5px;
    overflow: scroll;
    margin: 5px;
}

.no-result {
    padding: 10px;
    text-align: center;
}

.search-results {
    display: none;
    flex-direction: column;
    background: #FFFFFE;
    font-size: 70%;
    font-weight: 600;
    margin: -10px 0px 0px 0px;
    border: 3px solid #121629;
    padding-top: 7px;
    border-radius: 5px;
}

.search-result-container {
    display: flex;
    border-bottom: 1px solid #121629;
    justify-content: space-between;
    cursor: pointer;
    padding: 4px;
}

.search-result-container:hover {
    background-color: #121629;
    color: #FFFFFE;
}

.text-input {
    background: #FFFFFE;
    border: 4px solid #121629;
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    font-family: Montserrat;
    font-size: 70%;
    font-weight: 600;
    color: #121629;
    z-index: 1;
    margin: 5px 0px 0px 0px
}

.search-input {
    background: #FFFFFE;
    border: 4px solid #121629;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    font-family: Montserrat;
    font-size: 70%;
    font-weight: 600;
    color: #121629;
    z-index: 1;
    margin: 5px 0px 0px 0px
}

.date-picker {
    display:flex;
    font-size: 90%;
    font-weight: 600;
}

.date-picker span {
    margin: 0px 20px 0px 5px;
}

.date-picker select {
    margin-left: 5px;
    background: #FFFFFE;
    border: 3px solid #121629;
    border-radius: 5px;
    font-size: 90%;
}

.submit-button {
    background: #C33C54;
    border: 3px solid #121629;
    border-radius: 17px;
    width: 120px;
    height: 50px;
    font-weight: 800;
    font-size: 100%;
    color: #121629;
    transition: 0.3s;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0 5px rgb(119, 32, 32);
    align-self: center;
}

.submit-button:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.submit-button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #121629;
    padding: 5px 0px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

footer p {
    color: #FFFFFE;
    font-size: 60%;
}
