@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*:focus {
    outline:none;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #222847;
    background-color: #B8C1EC;
    margin: 0px;
    font-size: 30px;
    position: relative;
    min-height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #121629;
    padding: 5px 30px;
}

#logo {
    height: 80%;
    width: 200px;
}

embed {
    pointer-events: none; 
}

#right-nav-container {
    display: flex;
}


#right-nav-container p {
    color: #FFFFFE;
    font-size: 75%;
    font-weight: 700;
    margin: 20px;
}

#right-nav-container a img {
    margin: 0px 20px;
    width: 30px;
    }

a {
    transition: 0.2s;
    text-decoration: none;
    display:inline-block;
}

a:hover, button:hover{
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    font-size: 60%;
    padding-bottom: 80px;   
}

#main a {
    margin: 5px;
    color: #C33C54;
    font-weight: 600;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

.follow-form {
    display: flex;
    justify-content: center;
}

.follow-button {
    background: #C33C54;
    border: 3px solid #121629;
    border-radius: 17px;
    width: 120px;
    height: 50px;
    font-weight: 800;
    font-size: 100%;
    color: #121629;
    transition: 0.3s;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px rgb(119, 32, 32);
    align-self: center;
}

.follow-button:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.follow-button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #121629;
    padding: 5px 0px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #FFFFFE;
    font-size: 60%;
}