@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*:focus {
    outline:none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #222847;
    background-color: #B8C1EC;
    margin: 0px;
    font-size: 30px;
    position: relative;
    min-height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #121629;
    padding: 5px 30px;
}

#logo {
    height: 80%;
    width: 200px;
}

embed {
    pointer-events: none; 
}

#right-nav-container {
    display: flex;
}


#right-nav-container p {
    color: #FFFFFE;
    font-size: 75%;
    font-weight: 700;
    margin: 20px;
}

#right-nav-container a img {
    margin: 0px 20px;
    width: 30px;
}

a {
    transition: 0.2s;
    text-decoration: none;
    display:inline-block;
}

a:hover, button:hover{
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    font-size: 60%;
    padding-bottom: 150px;   
}

#main a {
    margin: 5px;
    color: #C33C54;
    font-weight: 600;
}

#main a.notification-link {
    margin: 0px;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

h2 {
    margin-left: 25px;    
}

.section-container {
    display: flex;
    flex-direction: column;
}

.logout-button {
    background: #C33C54;
    border: 3px solid #121629;
    border-radius: 17px;
    width: 120px;
    height: 50px;
    font-weight: 800;
    font-size: 100%;
    color: #121629;
    transition: 0.3s;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px rgb(119, 32, 32);
    align-self: center;
}

.logout-button:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.logout-button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

.section {
    display: flex;
    flex-direction: column;
    max-height: 5px;
    overflow: hidden;
    transition: max-height .8s;
    -webkit-transition: max-height .8s;
    -moz-transition: max-height .8s;
    -o-transition: max-height .8s;
    -o-transition: max-height .8s;
    margin: 10px 0px 10px 25px;
}

input:checked ~ .section{
    max-height: 10000px;
    transition: max-height .8s ease-in-out;
    -webkit-transition: max-height .8s ease-in-out;
    -moz-transition: max-height .8s ease-in-out;
    -o-transition: max-height .8s ease-in-out;
}

.expand, .expand-label {
    top: 0;
    right: 0;
}

.expand {
    z-index: 1;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    position: relative;
    margin-top: -60px;
}

.expand-label {
    content: ' ';
    display: block;
  
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #121629;
    
    transform: translateY(-2px);
    transition: transform .5s ease-out;
    width: 1px;
    margin-top: -30px;
  }

input:checked ~ .expand-label{
    display: block;
    content:'';
    transform: rotate(90deg);
    transition: transform .8s;
    -webkit-transform: rotate(90deg);
}

.choice {
    display: flex;
    margin: 10px;
    align-items: center;
}

.choice input {
    width: 20px;
    height: 20px;
    border: 3px solid #121629;
    border-radius: 3px;
    background-color: #FFFFFE;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.choice label {
    cursor: pointer;
    font-weight: 600;
}

.choice input:hover {
    background-color: rgba(195, 60, 84, 0.50);
}

.choice input:checked {
    background-color: #C33C54;
}

.save-button {
    background: #C33C54;
    border: 3px solid #121629;
    border-radius: 17px;
    width: 80px;
    height: 30px;
    font-weight: 700;
    font-size: 80%;
    color: #121629;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 5px rgb(119, 32, 32);
    align-self: start;
    margin: 10px;
}

.save-button:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.save-button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

.reviews-container {
    margin-top: 10px;
}

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background-color: #FFFFFE;
    border: 3px solid #121629;
    border-radius: 15px;
    padding: 0px 15px;
    margin: 5px;
}

.read-button {
    background: #C33C54;
    border: 3px solid #121629;
    border-radius: 17px;
    font-weight: 700;
    font-size: 80%;
    color: #121629;
    transition: 0.3s;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px rgb(119, 32, 32);
    align-self: start;
}

.read-button:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.read-button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

.movie-poster-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px 10px 40px;
}

.movie-poster {
    width: 75%;
    transition: 0.3s;
}

.movie-poster:hover{
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.movie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #121629;
    border: 8px solid #121629;
    box-shadow: 5px 9px 4px rgba(35, 41, 70, 0.6);
    border-radius: 7px;
    height: 130px;
    color: white;
    font-weight: 600;
    margin: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.left-container {
    display: flex;
    flex-direction: row;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-end;
}

.poster {
    height: 100%;
}
.movie-details-container {
    width: 100%;
    margin-left: 20px;
}

.movie-title {
    color: #FFA630 !important;  
    font-weight: 700;
    font-size: 110%;
    margin: 10px 0px;
}

.movie-detail {
    font-size: 80%;
    margin: 5px;
    color: white !important;
    z-index: 2;
}

.movie-rating {
    align-self: flex-end;
    width: 80%;
}

.remove-watchlist {
    background: #C33C54;
    border: 3px solid #121629;
    border-radius: 17px;
    width: 80px;
    height: 30px;
    font-weight: 700;
    font-size: 80%;
    color: #121629;
    transition: 0.3s;
    margin-top: 10px;
    cursor: pointer;
    margin: 5px;
}

.remove-watchlist:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #121629;
    padding: 5px 0px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #FFFFFE;
    font-size: 60%;
}