@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*:focus {
    outline:none;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #222847;
    background-color: #B8C1EC;
    margin: 0px;
    font-size: 30px;
    position: relative;
    min-height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #121629;
    padding: 5px 30px;
}

#logo {
    height: 80%;
    width: 200px;
}

embed {
    pointer-events: none; 
}

#right-nav-container {
    display: flex;
}


#right-nav-container p {
    color: #FFFFFE;
    font-size: 75%;
    font-weight: 700;
    margin: 20px;
}

a {
    transition: 0.2s;
    text-decoration: none;
    display:inline-block;
}

a:hover, .register-button:hover{
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

#main {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    padding-bottom: 150px;
    height: 80%;
}

.register-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #232946;
    border: 20px solid #121629;
    box-sizing: border-box;
    box-shadow: -40px 43px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    width: 35%;
    min-width: 400px;
    min-height: 550px;
    font-size: 80%;
    color: #FFFFFE;
    font-weight: 700;
}

h1 {
    margin: 0;
}

hr {
    width: 80%;
    margin: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 80%;
}

.input-field {
    background: #FFFFFE;
    border: 7px solid #121629;
    box-sizing: border-box;
    box-shadow: -6px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    width: 80%;
    height: 45px;
    margin: 10px;
    padding: 5px 10px;
    font-family: Montserrat;
    font-size: 55%;
    color: #121629;
}

.register-button {
    background: #D32B51;
    border: 7px solid #121629;
    box-sizing: border-box;
    border-radius: 30px;
    width: 45%;
    height: 60px;
    font-weight: 700;
    font-size: 90%;
    color: #121629;
    margin-top: 15px;
    transition: 0.2s;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 5px #04041d;
}

.register-button:active {
    box-shadow: 0 0px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
}

footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #121629;
    padding: 5px 0px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #FFFFFE;
    font-size: 60%;
}