@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*:focus {
    outline:none;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #121629;
    background-color: #B8C1EC;
    margin: 0px;
    height: 100%;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #121629;
    padding: 5px 30px;
}

#logo {
    height: 80%;
    width: 200px;
}

#right-nav-container {
    display: flex;
    flex-direction: row;
}

#right-nav-container a {
    margin-left: 50px;
}

#right-nav-container a embed{
    width: 40px;
}


a {
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

#main-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    align-items: center;
    height: 80%;
    font-size: 100%;
}

#top-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 80%;
    justify-content: center;
}

#top-container > label {
    font-weight: 800;
    font-size: 80%;
    text-shadow: 2px 2px 1px rgba(35, 41, 70, 0.38);
    margin: 10px 0px;
}

#bars-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom-select {
    display: inline-block;
    background-color: #FFFFFE;
    border: 5px solid #232946;
    box-sizing: border-box;
    border-radius: 19px;
    width: 15%;
    min-width: 120px;
    height: 52px;
    filter: drop-shadow(5px 9px 4px #121629);
    box-shadow: inset 0px -3px 4px #b8c1ec;
}

#search-type {
    border-color: #FFFFFE;
    border-radius: 19px;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 65%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 10px) calc(100% - 10px);
    background-repeat: no-repeat;
    z-index: 1;
    font-weight: 700;
}

#search-container {
    display: flex;
    width: 100%;
    height: 65px;
    filter: drop-shadow(5px 9px 4px rgba(18, 22, 41, 0.5));
    align-self: flex-end;
}

#search-bar {
    width: 100%;
    border: 5px solid #232946;
    border-radius: 19px;
    box-sizing: border-box;
    box-shadow: inset 0px -3px 4px #b8c1ec;
    background: #FFFFFE;
    font-size: 70%;
    text-indent: 17px;
    font-family: Montserrat, Arial, sans-serif;
    color: #232946;
    margin-right: 15px;
    padding-right: 40px;
    font-weight: 700
}

#search-container img {
    height: 80%;
    align-self: center;
    z-index: 1;
}

#search-container > button {
    background: #121629;
    border: 5px solid #121629;
    box-sizing: border-box;
    border-radius: 19px;
    width: 13%;
    height: 100%;
}

::placeholder {
    color: #232946;
    opacity: 0.9;
}

hr {
    width: 100%;
    margin-top: 40px;
    border: 1px solid #121629;
}

#movie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #121629;
    border: 8px solid #121629;
    box-sizing: border-box;
    box-shadow: 5px 9px 4px rgba(35, 41, 70, 0.6);
    border-radius: 7px;
    width: 80%;
    height: 150px;
}

#left-container {
    display: flex;
    flex-direction: row;
}

#movie-container {
    color: white;
    font-size: 60%;
    font-weight: 600;
}

#poster {
    height: 100%;
    width: 20%;
    margin-right: 20px;
    min-width: 100px;
}

#movie-title {
    color: #FFA630;  
    font-weight: 700;
    font-size: 110%;
    margin-top: 10px;
}

#movie-rating {
    align-self: flex-start;
    width: 25%;
}