@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*:focus {
    outline:none;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #232946;
    background-color: #B8C1EC;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #232946;
    padding: 5px 30px;
}

h2 {
    margin-bottom: 0px;
}

#logo {
    height: 80%;
    width: 200px;
}

#search-container {
    display: flex;
    width: 35%;
    height: 60%;
}

#search-bar {
    width: 100%;
    border-radius: 7px;
    box-shadow: inset 0px -3px 4px #b8c1ec;
    background: #FFFFFE;
    font-size: 100%;
    text-indent: 17px;
    font-family: Montserrat, Arial, sans-serif;
    color: #232946;
    margin-right: -35px;
    padding-right: 40px;
}

#search-container > img {
    height: 43%;
    align-self: center;
    z-index: 1;
}