include ../partials/headerMixins
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content=`Contribution page`)
        link(rel="stylesheet" type="text/css" href="/styles/contribute.css")
        link(rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon")
        title Contribute
body
    +logged-in-header()

    div#main
        h1 Contribute

        form(action="/movies" method="POST")
            h2 Add a New Movie
            
            label Title:
            input(type="text" name="Title")

            label Genre:
            input(type="text" name="Genre")
            
            label Actors:
            input(type="text" name="Actor")

            label Writers:  
            input(type="text" name="Writer")
            
            label Directors:   
            input(type="text" name="Director")

            input.submit-button(type="submit" value="Submit")


        form(action="/people" method="POST")
            h2 Add a New Person
        
            label Name:
            input(type="text" name="Name")
            
            label Acting Roles:
            input(type="text" name="ActingRole")
            
            label Writing Roles:
            input(type="text" name="WritingRole")

            label Directing Roles: 
            input(type="text" name="DirectingRole")

            input.submit-button(type="submit" value="Submit")
        
    
    include ../partials/footer