html
    head
        link(rel="stylesheet" type="text/css" href="/styles/user-page.css")
        title Contribute
body
    include ../partials/loggedOutHeader

    div#main
        h1 Contribute

        label  Add a New Person
    
        p Name:
        input(type="text" name="Name")
        
        p Acting Role:
        input(type="text" name="ActingRole")
        
        p Writing Role
        input(type="text" name="WritingRole")

        p Directing Role  
        input(type="text" name="DirectingRole")

        input.submit-button(type="submit" value="Submit")
        
        label Add a New movie
        input(type="text")
        
        p Title:
        input(type="text" name="Title")

        p Genre:
        input(type="text" name="Genre")
        
        p Actor:
        input(type="text" name="Actor")

        p Writers   
        input(type="text" name="Writer")
        
        p Director   
        input(type="text" name="Director")

        input.submit-button(type="submit" value="Submit")
    
    include ../partials/footer