include ../partials/headerMixins
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content=`Contribution page`)
        link(rel="stylesheet" type="text/css" href="/styles/contribute.css")
        link(rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon")
        script(type="text/javascript" src="/scripts/contribute.js" defer)
        script(type="text/javascript" src="/scripts/datePicker.js" defer)
        title Contribute
body
    if isContributer
        +logged-in-contributer-header()
    else
        +logged-in-header()

    div#main
        h1 Contribute

        form.form
            h2 Add a New Movie
            
            label.section(for="title") Title:
            input.text-input(type="text" id="title" required)

            label.section(for="genre") Genre:
            #genre-list.selected-container
            div(id="genre")
                each genre in genres
                    .search-result-container(onclick=`addToGenreList("${genre}")`)
                        label= genre 
    
            label.section(for="actor-search") Actors:
            #actor-list.selected-container
            input.search-input(type="search" id="actor-search" oninput="startActorSearch(this.value)")
            #actor-search-results.search-results

            label.section(for="writer-search") Writers:  
            #writer-list.selected-container
            input.search-input(type="search" id="writer-search" oninput="startWriterSearch(this.value)")
            #writer-search-results.search-results
            
            label.section(for="director-search") Directors: 
            #director-list.selected-container
            input.search-input(type="search" id="director-search" oninput="startDirectorSearch(this.value)")
            #director-search-results.search-results

            label.section(for="releaseDate") Release Date: 
            .date-picker
                span
                    label(for="day") Day:
                    select(id="day" required)
                span
                    label(for="month") Month:
                    select(id="month" required)
                        option(selected) January
                        option February
                        option March
                        option April
                        option May
                        option June
                        option July
                        option August
                        option September
                        option October
                        option November
                        option December
                span
                    label(for="year") Year:
                    select(id="year" required)

            label.section(for="runtime") Runtime (in minutes):  
            input.text-input(id="runtime" type="number" required)

            label.section(for="plot" required) Plot:  
            textarea.text-input(id="plot")

            button.submit-button(type="submit" onclick="addMovie(event)") Submit


        form.form
            h2 Add a New Person
        
            label.section(for="name") Name:
            input.text-input(type="text" name="name" id="name")

            button.submit-button(onclick="addPerson(event)") Submit
        
    
    include ../partials/footer