html
    head
        link(rel="stylesheet" type="text/css" href="/styles/login-page.css")
        title Login
body
    include ../partials/loggedOutHeader

    div#main
        .login-card
            h1 Login 
            hr
            form
                lable Username 
                input(type="text" id="username" class="input-field" required)
                label Password 
                input(type="password" id="password" class="input-field" required)
                input.login-button(type="submit" value="Login")
            
            .bottom-text
                p Don't have an account?
                a.signup-link(href="/register") Sign up here

    include ../partials/footer