html
    head
        link(rel="stylesheet" type="text/css" href="/styles/register-page.css")
        title Register
        script.
            let errorMessage = "#{errorMessage}";
            if (errorMessage) {
                alert(errorMessage)
            }
            
body
    include ../partials/loggedOutHeader

    div#main
        .register-card
            h1 Register 
            hr
            form(action="/users", method="POST")
                label Username 
                input.input-field(type="text" id="username" name="username" required)
                label Password 
                input.input-field(type="password" id="password" name="password" required)
                label Confirm Password
                input.input-field(type="password" id="confirm-password" name="confirmPassword" required)
                button.register-button(type="submit") Register

    include ../partials/footer