html
    head
        link(rel="stylesheet" type="text/css" href="/styles/register-page.css")
        title Register
body
    include ../partials/loggedOutHeader

    div#main
        .register-card
            h1 Register 
            hr
            form(action="/profile" method="GET")
                lable Username 
                input.input-field(type="text" id="username" name="username" required)
                label Password 
                input.input-field(type="password" id="password" name="password" required)
                label Confirm Password
                input.input-field(type="password" id="confirm-password" name="confirm-password" required)
                input.register-button(type="submit" value="Register")

    include ../partials/footer